set visualbell
set number relativenumber
set surround
set commentary
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmatch
set ideajoin
set NERDTree
set highlightedyank
" set multiple-cursors
idearefactormode=keep

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

let mapleader = " "
" set easymotion

set timeoutlen=1000

nmap g] :action GotoImplementation<cr>
" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-k> <c-w>k
nmap <c-j> <c-w>j
nnoremap <c-u> <c-u>zz
nnoremap <c-d> <c-d>zz

" move lines
nmap <A-j> :m .+1<CR>==
nmap <A-k> :m .-2<CR>==

imap <A-j> <Esc>:m .+2<CR>==gi
imap <A-k> <Esc>:m .-2<CR>==gi

vmap <A-j> :m '>+1<CR>gv=gv
vmap <A-k> :m '>-2<CR>gv=gv

cmap <A-j> :m '>+1<CR>gv-gv
cmap <A-k> :m '>-2<CR>gv-gv

nmap gd :action GotoDeclaration<cr>
" fix jumplist
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap <leader>e :action NERDTreeToggle<cr>
nmap <leader>ff :action GotoFile<cr>
vmap <leader>ff :action GotoFile<cr>
nmap <leader>fb :action RecentFiles<cr>
vmap <leader>fb :action RecentFiles<cr>
nmap <leader>fw :action FindInPath<cr>
vmap <leader>fw :action FindInPath<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>o :action FileStructurePopup<cr>
nmap <leader>h :noh<cr>
nmap <leader>/ :action CommentByLineComment<cr>
nmap <leader>q :action CloseContent<cr>


" Debugger
nmap <leader>dt :action ToggleLineBreakpoint<cr>
nmap <leader>dC :action Resume<cr>
nmap <leader>dc :action RunToCursor<cr>
nmap <leader>do :action StepOver<cr>
nmap <leader>di :action StepInto<cr>
nmap <leader>du :action StepOut<cr>
nmap <leader>dg :action ChooseRunConfiguration<CR>

" git
nmap <leader>gb :action Git.Branches<cr>
nmap <leader>gd :action Diff.ShowDiff<cr>
nmap <leader>gj :action VcsShowNextChangeMarker<cr>
nmap <leader>gk :action VcsShowPrevChangeMarker<cr>
nmap <leader>gl :action Annotate<cr>
nmap <leader>gr :action Vcs.RollbackChangedLines<CR>
nmap <leader>gR :action ChangesView.Revert<CR>

" LSP options
nmap <leader>la :action ShowIntentionActions<cr>
nmap <leader>ld :action InspectCode<cr>
nmap <leader>lf :action ReformatCode<cr>
nmap <leader>lj :action GotoNextError<cr>
nmap <leader>lk :action GotoPreviousError<cr>
nmap <leader>lw :action ActivateProblemsViewToolWindow<cr>
nmap <leader>lr :action RenameElement<CR>
nmap <leader>lp :action QuickImplementations<cr>


nmap <leader>Lr :action IdeaVim.ReloadVimRc.reload<CR>

" Search defaults
nnoremap / /\v
vnoremap / /\v
vnoremap // y/\V<C-R>=escape(@",'/\')<CR><CR>

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
"nmap gcc :action CommentByLineComment<cr>

" break up big function signatures
nnoremap gob  :s/\((\zs\\|,\ *\zs\\|)\)/\r&/g<CR><Bar>:'[,']normal ==<CR>

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
" nmap <C-n> <Plug>NextWholeOccurrence
" xmap <C-n> <Plug>NextWholeOccurrence
" nmap g<C-n> <Plug>NextOccurrence
" xmap g<C-n> <Plug>NextOccurrence
" nmap <C-x> <Plug>SkipOccurrence
" xmap <C-x> <Plug>SkipOccurrence
" nmap <C-p> <Plug>RemoveOccurrence
" xmap <C-p> <Plug>RemoveOccurrence

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap Y yg$
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap J mzJ`z

" greatest remap ever
nnoremap <leader>p \"+p

" next greatest remap ever : asbjornHaland
nnoremap <leader>y \"+y
vnoremap <leader>y \"+y
nmap <leader>Y \"+Y

nnoremap <leader>d \"_d
vnoremap <leader>d \"_d

vnoremap <leader>d \"_d

nnoremap <leader>r :%s/\\<<C-r><C-w>\\>/<C-r><C-w>/gI<Left><Left><Left>

inoremap <C-y> :action EditorChooseLookupItemReplace<cr>
