set visualbell
set number relativenumber
set surround
set commentary
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmatch

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

let mapleader = " "
set easymotion

set timeoutlen=1000

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <leader>wh <c-w>h
nmap <leader>wl <c-w>l
nmap <leader>wk <c-w>k
nmap <leader>wj <c-w>j
nmap <leader>wq :wq<cr>

nmap gd :action GotoDeclaration<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>

nmap <leader>f :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap == :action ReformatCode<cr>

nmap <m-j> 15gj
nmap <m-k> 15gk

" Search defaults
nnoremap / /\v
vnoremap / /\v

" Quickly get out of insert mode
imap jk <ESC>

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
"nmap gcc :action CommentByLineComment<cr>
